// Global styles goes here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: $font-family;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.title-container {
  flex: 0 0 35%;
  background-image: url('~src/assets/images/pattern-bg.png');
  background-position: center;
  background-size: cover;
}

form {
  width: 600px;

  @media (max-width: 768px) {
    width: 80%;
  }
}

.info-container {
  width: 70%;
  bottom: -30%;
  z-index: 2;

  @media (max-width: 968px) {
    bottom: -140%;
  }
}

#map {
  z-index: 1;
}

.ip-details{
  border-right: 2px solid #e7e7e7;
  @media (max-width: 968px) {
    border: none;
  }
}