// Global styles goes here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: $font-family;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

// .map-container {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: 30px;
// }

// .map-frame {
//   border: 2px solid black;
//   height: 100%;
// }

// #map {
//   height: 100%;
// }

.title-container{
  flex: 0 0 35%;
  background-image: url('../../images/pattern-bg.png');
  background-position: center;
  background-size: cover;
}

form{
  width: 600px;
}

.info-container{
  width: 70%;
  bottom: -30%;
  z-index: 2;
}

#map{
  z-index: 1;
}