// All the SCSS Variables goes here

//  form 
$input-padding-y                            : 1rem;
$input-padding-x                            : 1rem;
$input-border-radius                        : 15px;

// button 
$btn-padding-x                              : 1rem;
$btn-padding-y                              : 1rem;
$btn-border-radius                          : 15px;