<div class="h-100 d-flex flex-column">
    <div class="title-container d-flex flex-column align-items-center position-relative">
        <h1 class="text-white py-5"> IP Address Tracker </h1>
        <form [formGroup]="mapGroup" (ngSubmit)="callAPI()">
            <div class="input-group mb-3 rounded-5">
                <input type="text" class="form-control fw-semibold" placeholder="Search for any IP address or domain"
                    aria-label="Recipient's username" aria-describedby="button-addon2" formControlName="ip">
                <button class="btn btn-dark fw-bolder" type="submit" id="button-addon2">></button>
            </div>
        </form>
        <div class="info-container p-5 bg-white shadow-lg rounded-4 position-absolute">
            <div class="row overflow-hidden">
                <div class="col-12 col-md-3">
                    <div class="d-flex flex-column border-2 border-end text-center text-md-start p-md-0 py-3">
                        <span class="fw-bolder text-muted"> IP ADDRESS </span>
                        <span class="fs-2 fw-bolder text-truncate" *ngIf="Location"> hello </span>
                        <span class="fs-2 fw-bolder" *ngIf="!Location"> - </span>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="d-flex flex-column border-2 border-end text-center text-md-start p-md-0 py-3">
                        <span class="fw-bolder text-muted"> LOCATION </span>
                        <span class="fs-2 fw-bolder text-truncate" *ngIf="Location"> {{Location?.location?.city}}, {{Location?.location?.country}} <br>
                            {{Location?.location?.postalCode}} </span>
                        <span class="fs-2 fw-bolder" *ngIf="!Location"> - </span>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="d-flex flex-column border-2 border-end text-center text-md-start p-md-0 py-3">
                        <span class="fw-bolder text-muted"> TIME ZONE </span>
                        <span class="fs-2 fw-bolder text-truncate" *ngIf="Location"> UTC {{Location?.location?.timezone}} </span>
                        <span class="fs-2 fw-bolder" *ngIf="!Location"> - </span>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="d-flex flex-column border-2 border-end text-center text-md-start p-md-0 py-3">
                        <span class="fw-bolder text-muted"> ISP </span>
                        <span class="fs-2 fw-bolder text-truncate"> {{Location?.isp}} </span>
                        <span class="fs-2 fw-bolder" *ngIf="!Location"> - </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="flex-grow-1"></div>
</div>